In [22]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score, accuracy_score

In [23]:
# Load the dataset
data = pd.read_csv('C:/Users/ASUS/Downloads/Machine Learning Full/Decision Tree/dataset.csv')

# Display the first few rows of the dataset
data.head()

     1      2    3     4    sum Unnamed: 5
0  201  10018  250  3046  13515        yes
1  205  10016  395  3044  13660        yes
2  257  10129  109  3251  13746        yes
3  246  10064  324  3137  13771        yes
4  117  10115  496  3094  13822        yes

In [24]:
# Check for missing values and data types
data.info()

# Display basic statistics of the dataset
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   1           1000 non-null   int64
 1   2           1000 non-null   int64
 2   3           1000 non-null   int64
 3   4           1000 non-null   int64
 4   sum         1000 non-null   int64
 5   Unnamed: 5  1000 non-null   object
dtypes: int64(5), object(1)
memory usage: 47.0+ KB

                1            2            3            4           sum
count  1000.00000   1000.00000  1000.000000  1000.000000   1000.000000
mean    294.34300  12465.88400   528.042000  4027.011000  17315.280000
std     115.81539   1440.15617   259.796059   565.164179   1589.943875
min     100.00000  10005.00000   100.000000  3003.000000  13515.000000
25%     195.00000  11201.50000   302.000000  3545.000000  16073.750000
50%     289.50000  12450.00000   516.500000  4041.500000  17383.000000
75%     398.00000  13678.25000   753.500000  4507.000000  18595.250000
max     500.00000  14996.00000   997.000000  5000.000000  20737.000000

In [25]:
# Define the features (X) and target (y)
X = data.values[:, 1:5] 
y = data.values[:, 0 ]

In [26]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [27]:

# Initialize the Decision Tree Regressor
dt_regressor = DecisionTreeRegressor(random_state=42)

# Train the model on the training data
dt_regressor.fit(X_train, y_train)

# Make predictions on the test set
y_pred = dt_regressor.predict(X_test)

In [28]:

# Evaluate the model with regression metrics
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
rmse = np.sqrt(mean_squared_error(y_test, y_pred))


print("Mean Squared Error:", mse)
print("R-squared:", r2)
print("Root Mean Squared Error:", rmse)

Mean Squared Error: 22334.363333333335
R-squared: -0.6658023139743068
Root Mean Squared Error: 149.44685789046665